.addMarkerButton {
    cursor: pointer;
    background-color: #dfeeff;
    border: 1px solid;
    border-radius: 6px;
    color: #077bc1;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    user-select: none;
    width: 90px;
    gap: 8px;
    z-index: 2;
}

.addMarkerButton.unlinked {
    position: fixed;
    top: 5px;
    margin-left: 5px;
}

.addMarker {
    font-size: 20px;
}

.hidden {
    display: none;
}